<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="JamServerEntities" connectionString="metadata=res://*/Database.JamServerEntityDataModel.csdl|res://*/Database.JamServerEntityDataModel.ssdl|res://*/Database.JamServerEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=Jam;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>